@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1.4;
  color: #333;
  font-family: "Elice Digital Baeum", sans-serif; 
  background-color: rgb(245,248,240);
}

/* COMMON */
.inner {
  width: 1440px;
  margin: 0 auto;  
}

section .title {
  margin-bottom: 40px;
}

section .title h3 {
  font-size: 50px;
  color: #F33B3B;
}

section .title p {
  font-size: 20px;
}

/* HEADER */

header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner h1 {
  font-size: 20px;
}


header .inner nav ul {
  display: flex;
  font-size: 18px;
}

header .inner nav ul li {
  padding-left: 100px;
}

/* .main_visual */
section.main_visual {
  height: calc(100vh - 100px);
  position: relative;
}

section.main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.main_visual .inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
section.main_visual .inner p {
  font-size: 25px;
  margin-bottom: 10px;
}

section.main_visual .inner h2 {
  font-size: 70px;  
}




/* .SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(245,248,240);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .CONT01 영상편집 */

section.cont01 {
  padding: 200px 0;
}

section.cont01 .motion_menu {
  display: inline-block;

}
section.cont01 .motion_menu ul {
  background-color: #eee;
  display: flex;
  margin-bottom: 20px;
  height: 40px;
  align-items: center; /* dis-flex 있어야 사용가능 */
  border-radius: 20px;
}
section.cont01 .motion_menu ul li {
  padding: 0 30px;
  font-size: 15px;
  cursor: pointer;
}

section.cont01 .motion_menu ul li.on {
  height: 100% ;
  display: flex;
  align-items: center;
  background-color:#F33B3B;
  color: #eee;
  border-radius: 20px;
}

section.cont01 .mySwiper {display: none;}
section.cont01 .mySwiper.on {display: flex;}

section.cont01 .mySwiper .item {
  width: 1350px;
  display: flex;
  justify-content: space-between;
}
section.cont01 .mySwiper .item .pc_youtube {
  width: 55%;
  position: relative;
}
section.cont01 .mySwiper .item .pc_youtube img {
  width: 100%;
  height: auto;
  object-fit: cover ;
}
section.cont01 .mySwiper .item .pc_youtube .youtube {
  position: absolute;
  top: 20px; left: 20px;
  width: 94%;
}
section.cont01 .mySwiper .item .pc_youtube .youtube > div {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

section.cont01 .mySwiper .item .pc_youtube .youtube > div iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}

section.cont01 .mySwiper .item .info {
  width: 45%;
  text-align: left;
  padding-left: 50px;
}

section.cont01 .mySwiper .item .info > strong {
  margin-bottom: 30px;
}
section.cont01 .mySwiper .item .info h4 {
  font-size: 34px;
}
section.cont01 .mySwiper .item .info p {
  font-size: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

section.cont01 .mySwiper .item .info .text {
  margin: 20px 0 30px;
  font-size: 17px;
}
section.cont01 .mySwiper .item .info .text li {
  line-height: 1.6;
}

section.cont01 .mySwiper .item .info .btn {
  display: flex;
}
section.cont01 .mySwiper .item .info .btn li {
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color:#F33B3B;
  color: #eee;
  margin-right: 10px;
}

section.cont01 .mySwiper .item .info .btn li:nth-of-type(2) {
  background-color: #fff;
  color: #333;
  border : 1px solid #ccc;
}

section.cont01 .mySwiper .item .info .btn li a {
  padding: 0 25px;
}


.swiper-button-next, .swiper-button-prev { color:#F33B3B; --swiper-navigation-size: 30px; }

/* .cont03 웹사이트 */
.cont03 {
/*   width: calc(100% - 300px);
  margin: 200px auto; */
  background-image: url(../img/Untitled-1.png);
  padding: 200px 0;
}

.cont03 .list {
  display: flex;
  justify-content: space-between; /* 행의 끝을 나란히 맞추다 */
  height: 70vh;
}

.cont03 .list .item {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-inline: 10px;
}

/* 가상선택자 */
.cont03 .list .item::before {
  content: ''; /* 빈공간만듦 */
  position: absolute;
  left: 0;
  bottom: -100%; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  transition: 0.5s;
}

.cont03 .list .item:hover::before {
  bottom: 0;
}

.cont03 .list .item:hover .info {
  background-color: transparent; /* 투명 */
  color: #fff;
}

.cont03 .list .item:hover .info a {
  color: #333;
}

.cont03 .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont03 .list .item .info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color:#fff;
  width: 100%;
  padding: 50px;
  word-break: keep-all; /* 단어별 줄 바꿈 */
  
}

.cont03 .list .item .info h4 {
  font-size: 30px;
  font-weight: 700;
}

.cont03 .list .item .info p {
  /* margin-top: 7px;
  margin-bottom: 20px; */
  margin: 7px 0 20px;
  line-height: 1.4; /* 글자크기의 1.4배만큼 간격 */
}

.cont03 .list .item .info .text li {
  margin: 5px 0;
}

.cont03 .list .item .info .btn {
  display: flex;
  margin-top: 40px;
}

.cont03 .list .item .info .btn li {
  margin-right: 10px;
  background-color: #eee;
  border-radius: 40px;
}

.cont03 .list .item .info .btn a {
  height: 45px;
  padding: 0 40px;
  display: block;
  line-height: 45px;
  font-size: 14px;
}
/* a태그는 inline요소라서 글자크기 조절 안됨 */

/* cont04 그래픽디자인 */
section.cont04 {
  padding: 200px 0;
}

section.cont04 .inner .title { 
  text-align: center;
}

section.cont04 .inner .list {
  display: flex;
  justify-content: space-between;
}
section.cont04 .inner .list >a {
  width: 19%;
}
section.cont04 .inner .list >a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}
section.cont04 .inner .list >a .info {
  background-color: #fff;
  color: #333;
  padding: 20px 10px;
}
section.cont04 .inner .list >a .info h4 {
  font-size: 20px;
  margin-bottom: 7px;
}

.cont05 {
  padding: 100px 0;
}

.cont05 .inner {
  height: 315px;
  display: flex;
  justify-content: space-between;
}

.cont05 .inner .profile {
  
}
.cont05 .inner .profile .img {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  overflow: hidden;
}
.cont05 .inner .profile .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont05 .inner .profile >ul {
  padding-top:20px ;
  text-align: center;
}
.cont05 .inner .profile >ul li {
  font-size: 19px;
}
.cont05 .inner .profile >ul li p {}


.cont05 .inner .edu {}
.cont05 .inner .edu h5 {}
.cont05 .inner .edu p {
  font-size: 18px;
  padding-bottom: 15px;
}

.cont05 .inner .skill {
  width: 330px;
}
.cont05 .inner .skill h5 {}
.cont05 .inner .skill ul {
  display: flex;
  flex-wrap: wrap;
}
.cont05 .inner .skill ul li {
  display: block;
  width: 100px; height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #333;
  font-size: 15px;
  margin:0 10px 5px 0;
}

.cont05 .inner div h5 {
  position: relative;
  font-size: 24px;
  margin-bottom: 25px;
  color: #333;
}

.cont05 .inner div h5::before {
  content: '';
  width: 200px;
  height: 1px;
  background-color: #333;
  position: absolute;
  bottom: -5px;

}


.cont05 .inner .footer {}
.cont05 .inner .footer ul {
  display: inline-flex;
}
.cont05 .inner .footer ul li {
}

.cont05 .inner .footer ul li a {
  display: block;
  width: 230px;
  height: 65px;
  text-align: center;
  border: 1px solid #333;
  margin: 0 10px 65px;
  line-height: 65px;
  font-size: 20px;
}

.cont05 .inner .footer ul li a:hover {
  background-color: #F33B3B;
  color: #eee;
}

.cont05 .inner .footer p {
  text-align: center;
}